USE [master]
GO
/****** Object:  Database [FilmAPI]    Script Date: 25/06/2023 9:27:48 PM ******/
CREATE DATABASE [FilmAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FilmAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FilmAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmAPI]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/06/2023 9:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 25/06/2023 9:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 25/06/2023 9:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmActors]    Script Date: 25/06/2023 9:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmActors](
	[FilmID] [int] NOT NULL,
	[ActorID] [int] NOT NULL,
 CONSTRAINT [PK_FilmActors] PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC,
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmDirectors]    Script Date: 25/06/2023 9:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmDirectors](
	[FilmID] [int] NOT NULL,
	[DirectorID] [int] NOT NULL,
 CONSTRAINT [PK_FilmDirectors] PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC,
	[DirectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 25/06/2023 9:27:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Date] [datetime2](7) NOT NULL,
	[Genre] [nvarchar](max) NULL,
	[Rate] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230612091851_InitialDatabaseMigration', N'6.0.16')
GO
SET IDENTITY_INSERT [dbo].[Actors] ON 

INSERT [dbo].[Actors] ([Id], [FirstName], [LastName], [DateOfBirth]) VALUES (1, N'nhi', N'nhi', CAST(N'2023-06-15T06:36:01.4300000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Actors] OFF
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([Id], [FirstName], [LastName], [DateOfBirth]) VALUES (1, N'cong', N'van', CAST(N'2023-06-15T06:33:01.3940000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
INSERT [dbo].[FilmActors] ([FilmID], [ActorID]) VALUES (1, 1)
INSERT [dbo].[FilmActors] ([FilmID], [ActorID]) VALUES (5, 1)
GO
INSERT [dbo].[FilmDirectors] ([FilmID], [DirectorID]) VALUES (5, 1)
GO
SET IDENTITY_INSERT [dbo].[Films] ON 

INSERT [dbo].[Films] ([Id], [Name], [Description], [Date], [Genre], [Rate]) VALUES (1, N'conan', N'hay lam', CAST(N'2023-06-15T06:33:30.6900000' AS DateTime2), N'Trinh tham', CAST(4.00 AS Decimal(18, 2)))
INSERT [dbo].[Films] ([Id], [Name], [Description], [Date], [Genre], [Rate]) VALUES (5, N'doraemon', N'ok', CAST(N'2023-06-15T12:43:50.0230000' AS DateTime2), N'phieu luu', CAST(4.00 AS Decimal(18, 2)))
INSERT [dbo].[Films] ([Id], [Name], [Description], [Date], [Genre], [Rate]) VALUES (6, N'anhhungmarvel', N'thu vi', CAST(N'2023-06-25T07:51:40.4250000' AS DateTime2), N'vien tuong', CAST(5.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Films] OFF
GO
/****** Object:  Index [IX_FilmActors_ActorID]    Script Date: 25/06/2023 9:27:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmActors_ActorID] ON [dbo].[FilmActors]
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmDirectors_DirectorID]    Script Date: 25/06/2023 9:27:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmDirectors_DirectorID] ON [dbo].[FilmDirectors]
(
	[DirectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FilmActors]  WITH CHECK ADD  CONSTRAINT [FK_FilmActors_Actors_ActorID] FOREIGN KEY([ActorID])
REFERENCES [dbo].[Actors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmActors] CHECK CONSTRAINT [FK_FilmActors_Actors_ActorID]
GO
ALTER TABLE [dbo].[FilmActors]  WITH CHECK ADD  CONSTRAINT [FK_FilmActors_Films_FilmID] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Films] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmActors] CHECK CONSTRAINT [FK_FilmActors_Films_FilmID]
GO
ALTER TABLE [dbo].[FilmDirectors]  WITH CHECK ADD  CONSTRAINT [FK_FilmDirectors_Directors_DirectorID] FOREIGN KEY([DirectorID])
REFERENCES [dbo].[Directors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmDirectors] CHECK CONSTRAINT [FK_FilmDirectors_Directors_DirectorID]
GO
ALTER TABLE [dbo].[FilmDirectors]  WITH CHECK ADD  CONSTRAINT [FK_FilmDirectors_Films_FilmID] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Films] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmDirectors] CHECK CONSTRAINT [FK_FilmDirectors_Films_FilmID]
GO
USE [master]
GO
